<div class="">
    <h1>Login</h1>

    <form action="/login" method="post">
        <div class="">
            <label>Email</label>
            <input type="text" class="" name="email">
        </div>
        <div class="">
            <label>Password</label>
            <input type="password" class="" name="password">
        </div>

        <button type="submit" class="">Login</button>
    </form>

    <hr />
</div>
