<label class="sr-only" for="inputHelpBlock">nUPath Newsfeed</label>
<textarea class="form-control" rows="3"></textarea>
<span id="helpBlock" class="help-block">Post your comments and questions here.</span>
<br>

<button type="button" class="btn btn-success">Post</button>
