<form class="" action="/posts/" + req.params.id + "/comments" method="post">
  <textarea name="content" rows="8" cols="40"></textarea><br>
  <input type="submit" name="submit" value="Submit">
</form>
